*{
    background-color:#E0E5EC;
}
.container {
    margin-top: 10%;
}
img {
    width: 100%;
    padding-bottom: 20px;   
}
button.btn.btn-primary{
    margin-left: 15px;
}
select.browser-default.custom-select{
    margin-bottom: 20px;
}
input[type="number"] {
    margin-bottom: 20px;
    padding: 14px 10px;
    border-radius: 50px;
    width: 100%;
    border: none;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}
li.number-result {
    list-style: none;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}
select.browser-default.custom-select {
    background-color: #E0E5EC;
    border: 1px solid #fff;
}
button.btn.btn-primary {
    width: 100%;
    margin-left: 0;
    padding: 12px 0;
}
.col-6:first-child{
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}
.col-6:first-child .row{
    padding: 15px 0px 5px 0px;
}
button.btn.btn-primary {
    margin-bottom: 10px;
}